{:aliases
 {:check
  {:extra-deps
   {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                     :sha     "b48d4e7000586529f81c1e29069b503b57259514"}}
   :main-opts ["-m" "clj-check.check"]}
  :cider-nrepl
  {:extra-deps
   {cider/cider-nrepl {:mvn/version "0.21.1"}}
   :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
  :uberjar
  {:extra-deps
   {uberdeps {:mvn/version "0.1.4"}}
   :main-opts ["-m" "uberdeps.uberjar"]}
  :lint
  {:extra-deps
   {com.jameslaverack/cljfmt-runner
    {:git/url "https://github.com/JamesLaverack/cljfmt-runner"
     :sha     "97960e9a6464935534b5a6bab529e063d0027128"}}
   :main-opts ["-m" "cljfmt-runner.check"]}
  :outdated
  {:extra-deps
   {olical/depot {:mvn/version "1.8.4"}}
   :main-opts ["-m" "depot.outdated.main"]}
  :eastwood
  {:extra-deps
   {jonase/eastwood {:mvn/version "0.3.6"}}
   :main-opts ["-m" "eastwood.lint" "{:source-paths,[\"src\"]}"]}
  :coverage
  {:extra-deps
   {cloverage {:mvn/version "1.1.1"}}
   :main-opts ["-m" "cloverage.coverage" "-p" "src" "-s" "test"]}
  :kibit
  {:extra-deps
   {tvaughan/kibit-runner {:mvn/version "0.1.0"}}
   :main-opts ["-m" "kibit-runner.cmdline"]}}}
