{:aliases
 {:check
  {:extra-deps
   {athos/clj-check
    {:git/url "https://github.com/athos/clj-check.git"
     :sha     "cd1f25456de5eebda0a69602dd3445905382b3a4"}}
   :main-opts ["-m" "clj-check.check"]}
  :outdated
  {:extra-deps
   {olical/depot {:mvn/version "2.1.0"}}
   :main-opts ["-m" "depot.outdated.main"]}
  :new
  {:extra-deps
   {seancorfield/clj-new {:mvn/version "1.1.264"}}
   :main-opts ["-m" "clj-new.create"]}}}
