{:aliases
 {:check
  {:extra-deps
   {athos/clj-check
    {:git/url "https://github.com/athos/clj-check.git"
     :sha     "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
   :main-opts ["-m" "clj-check.check"]}
  :new
  {:extra-deps
   {seancorfield/clj-new {:mvn/version "1.1.297"}}
   :exec-fn clj-new/create}
  :outdated
  {:extra-deps
   {olical/depot {:mvn/version "2.2.0"}}
   :main-opts ["-m" "depot.outdated.main"]}}}
